<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content=""width=device-width, initial-scale="1.0">
        <title>To-Do List</title>
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>

        <div class="container">
            <div class="section1">
                <h1 id="title">Log In</h1>
            </div>
            <form action="/to_do_list" method="GET">
            <div class="section2">
                <h3 for="new-task">Enter Username</h3><br/>
                <input id="new-task" name = "username" type="text" placeholder = "Username" required ><br/>
                <h3 for="new-task">Enter Password</h3><br/>
                <input id="new-task" name = "password" type="text" placeholder = "Password" required ><br/>
                <br/>
                <br/>
                <button type = "submit" >Log In</button>
            </div>
        </form>
        </div>
        <script src="static/script2.js"></script>
    </body>

</html>